<?xml version="1.0"?>


<robot name="mono_observer" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="package_name" value="mono_observer_description" />
        
    <xacro:include filename="$(find ${package_name})/urdf/mono_observer_urdf.xacro"/>

    <xacro:include filename="$(find ${package_name})/urdf/camera_sensor.xacro"/>

</robot>